<button class="btn"
        ng-click="success()"
        promise-btn="successPromise">Success after delay
</button>
<button class="btn"
        ng-click="error()"
        promise-btn="errorPromise">Error after delay
</button>
<br>
<br>
<button class="btn"
        ng-click="endless()"
        promise-btn="endlessPromise">Never resolving promise
</button>
<button class="btn"
        ng-click="auto()"
        promise-btn="autoPromise">Loading initially and forever
</button>

<h3>Same promise buttons</h3>
<button class="btn"
        ng-click="success()"
        promise-btn="successPromise">We
</button>
<button class="btn"
        ng-click="success()"
        promise-btn="successPromise">share
</button>

<h3>Chained promise buttons</h3>
<button class="btn"
        ng-click="chain()"
        promise-btn="chainedPromises">Load promise chain {{ v.promiseIndex }}
</button>


<h3>Inside a form</h3>
<form ng-submit="submit()">
    <button class="btn"
            type="submit"
            promise-btn="submitPromise">Submit
    </button>
</form>

<h3>ngClick only</h3>
<button class="btn"
        ng-click="successDirectlyReturnedPromise()"
        promise-btn>Success after delay
</button>
<button class="btn"
        ng-click="chain()"
        promise-btn>For promise chain
</button>

<h3>ngSubmit only inside form</h3>
<form ng-submit="submitDirectlyReturnPromise()"
      promise-btn>
    <button class="btn"
            type="submit">Submit promise
    </button>
    <button type="button">I'm just a button</button>
</form>
